.Weather {
    font-family: araial, sans-serif;
    border: 1px solid #dadde1;
    color: #878787;
    padding: 16px;
    border-radius: 4px;

}

.form-search {
    background: #9BAFF3;
    color: white;
    width: 50px;
}


.Weather h1 {
     font-size: 24px;
     font-weight: 100;
     line-height: 29px;
     margin: 20px 0 0 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
     font-size: 16px;
     line-height: 19px;
     list-style: none;
     font-weight: 100;

}

.Weather canvas {
    margin: 10px auto;
    float: left;
}

.Weather .temp {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 64px ; 
}

.Weather .unit {
    font-size: 16px;
    color: rgb(33, 33, 33);
    font-weight: 400;
    position: relative;
    top: -34px;
    line-height: 1;
}

.WeatherTemperature a {
    text-decoration: none;
    color: #9BAFF3;
}
